#content {
    padding-top: 20px;
}

.icon-wifi3 {
    background: url("../img/wifi3.png") no-repeat center center;
    width: 40px;
    height: 32px;
    margin-left: auto;
    display: inline-block;
}

.icon-wifi2 {
    background: url("../img/wifi2.png") no-repeat center center;
    width: 40px;
    height: 32px;
    margin-left: auto;
    display: inline-block;
}

.icon-wifi1 {
    background: url("../img/wifi1.png") no-repeat center center;
    width: 40px;
    height: 32px;
    margin-left: auto;
    display: inline-block;
}

.icon-wifi0 {
    background: url("../img/wifi0.png") no-repeat center center;
    width: 40px;
    height: 32px;
    margin-left: auto;
    display: inline-block;
}

.icon-plus {
    background: url("../img/plus.png") no-repeat center center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: inline-block;
}