.icon-wifi3 {
    float: right;
    background: url("wifi3.png") no-repeat center center;
    width: 40px;
    height: 32px;
    /*display: inline-block;*/
}

.icon-wifi2 {
    background: url("wifi2.png") no-repeat center center;
    width: 40px;
    height: 32px;
    display: inline-block;
}

.icon-wifi1 {
    background: url("wifi1.png") no-repeat center center;
    width: 40px;
    height: 32px;
    display: inline-block;
}

.icon-wifi0 {
    background: url("wifi0.png") no-repeat center center;
    width: 40px;
    height: 32px;
    display: inline-block;
}