<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/pifi.css">
</head>
<nav class="navbar navbar-inverse bg-inverse sticky-top">
    <a class="navbar-brand" href="#">PiFi Wireless Agent - OPQ</a>
</nav>
<body>
<div class="container" id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Available Wireless Networks
                </div>
                <div class="card-block">
                    <ul class="list-group">

                        <button type="button" data-target="#collapseExample1" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample1">
                            Test WPA Network
                            <span class="float-right text-right">
                                <span class="icon-wifi3"></span>
                            </span>
                        </button>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-block">
                                <p><b>SSID:</b> Test WPA Network</p>
                                <p><b>Security:</b> WPA</p>
                                <p><b>Signal Strength:</b> 78%</p>
                                <form>
                                    <div class="form-group row">
                                        <input type="password" class="form-control col-sm-10" id="exampleInputPassword1" placeholder="Network Password">
                                        <button type="submit" class="btn btn-primary col-sm-2">Connect to Network</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <button type="button" data-target="#collapseExample2" class="list-group-item list-group-item-action" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample2">
                            Test Open Network
                            <span class="float-right text-right">
                                <span class="icon-wifi2"></span>
                            </span>
                        </button>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-block">
                                <p><b>SSID:</b> Test Open Network</p>
                                <p><b>Security:</b> Open</p>
                                <p><b>Signal Strength:</b> 95%</p>
                                <a type="button" class="btn btn-primary btn-block">Connect to Network</a>
                            </div>
                        </div>

                    </ul>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger btn-block">Refresh Wireless Network List</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/jquery-3.1.1.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>